.text-2xs-regular {
  @apply font-sans font-regular leading-lg tracking-normal;
  font-size: var(--text-2xs);
}

.text-sm-regular {
  @apply font-sans font-regular leading-lg tracking-normal;
  font-size: var(--text-sm);
}

.text-sm-medium {
  @apply font-sans font-medium leading-lg tracking-normal;
  font-size: var(--text-sm);
}

.text-md-regular {
  @apply font-sans font-regular leading-xl tracking-normal;
  font-size: var(--text-base);
}

.text-md-medium {
  @apply font-sans font-medium leading-lg tracking-normal;
  font-size: var(--text-base);
}

.text-lg-medium {
  @apply font-sans font-medium leading-xl tracking-tight;
  font-size: var(--text-lg);
}

.text-xl-medium {
  @apply font-sans font-medium leading-xl tracking-tightest;
  font-size: var(--text-xl);
}
